body {
  font-size: 16px;
  color: #000;
  background-color: lightgray;
  font-family: 'Oxygen', sans-serif;
}

/* HEADER */
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HEADER */



/* HOME PAGE */
#menu-categories-title {
  margin-bottom: 30px;
}


#chicken-tile div, #beef-tile div, #sushi-tile div {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  margin: 20px;
  color: #000;
}

#chicken-tile-text {
  margin: 20px;
  background-color: lightgreen;
}

#beef-tile-text {
  margin: 20px;
  background-color: lightcyan;
}

#sushi-tile-text {
  margin: 20px;
  background-color: lightyellow;
}

/* END HOME PAGE */


/********** Extra small devices only **********/
@media (max-width: 767px) {

  /* Header */

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
 
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
 
  /* End Header */

}
